/* Estilos do Header */

.header {
  background-image: url("/images/desktop/image-header.jpg");
  height: 850px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.header h1 {
  font-family: var(--Fraunces);
  font-weight: 900;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
  position: relative;
}

.logotipo {
  width: 160px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-right: 50px;
  font-family: var(--Barlow);
  font-size: 18px;
  color: #fff;
}

.menu ul li a:hover {
  color: var(--VeryDarkDesaturatedBlue);
  transition: color 0.5s;
}

.btn__contact {
  padding: 15px 40px;
  margin: 0 -22px;
  font-size: 18px;
  font-family: var(--Fraunces);
}

.btn__contact:hover {
  padding: 15px 40px;
  margin: 0 -22px;
  background-color: var(--White);
  border-radius: 50px;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.arrow__down {
  margin-top: 60px;
}
